$color_red:#ff7c5f;
$color_g:#3dd1a6;
$hover_red:#ee7559;
/* basic_unit */
$size_05 : 22px !default;
$size_04 : 18px !default;
$size_03 : 16px !default;
$size_02 : 14px !default;
$size_01 : 12px !default;

/* Some color */
$color_a: #000;
$color_b: #333;
$color_c: #666;
$color_d: #999;
$color_e: #ccc;
$color_f: #fff;

/* mixin code */
@mixin AddDot{ display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
@mixin positionAb($x , $y){ position: absolute; left:50%; top:50%; width: $x; height: $y; margin-left:-$x/2; margin-top:-$y/2; z-index:99; }
@mixin mark( $opacity ){ position:fixed; left:0; top:0; width:100%; height:100%; z-index:98; background: hsla(0,0%,0%, $opacity); *background:#000; }
@mixin center_box{ margin:auto;}
@mixin img_center($father:false){
    @if $father {
        display: table; text-align: center;
    } @else {
        display: table-cell; vertical-align: middle;
    }
}
@mixin btn_box($width , $height, $size){
    width:$width; height:$height; line-height:$height; text-align: center; font-size:$size;
}

@mixin arrow($direction,  $size,  $color) {
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    border-width: $size;
    @if $direction == top {
        border-style: dashed dashed solid dashed;
        border-color: transparent transparent $color transparent;
        border-top: none;
    }
    @else if $direction == bottom {
        border-style: solid dashed dashed dashed;
        border-color: $color transparent transparent transparent;
        border-bottom: none;
    }
    @else if $direction == right {
        border-style: dashed dashed dashed solid;
        border-color: transparent transparent transparent $color;
        border-right: none;
    }
    @else if $direction == left {
        border-style: dashed solid dashed dashed;
        border-color: transparent $color transparent transparent;
        border-left: none;
    }
}
@mixin arrow_askew($direction,  $size,  $color){
    width: 0;
    height: 0;
    overflow: hidden;
    @if $direction == top-left {
        border-width: $size $size 0 0;
        border-style: solid ;
        border-color: $color transparent  transparent  transparent ;
    }
    @if $direction == top-right {
        border-width: 0 $size $size 0;
        border-style: solid ;
        border-color: transparent $color  transparent  transparent ;
    }
    @if $direction == bottom-right {
        border-width: 0 0 $size $size;
        border-style: solid ;
        border-color:  transparent  transparent $color transparent ;
    }
    @if $direction == bottom-left {
        border-width: $size 0 0 $size;
        border-style: solid ;
        border-color: transparent  transparent  transparent $color  ;
    }
}

/*reset*/
html , body {  font-size: 14px; input::-webkit-outer-spin-button, 
    input::-webkit-inner-spin-button{
        -webkit-appearance: none !important;
    }
}

/*icon style*/
.gmc_ico{
    display: inline-block;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: -1000px -1000px;
    vertical-align: middle;
    overflow: hidden;
    background-image:url(../../images/icon.png)
}
.gmc_ico_01{ width: 27px; height: 18px; background-position: 0 0;}

/*text style*/
a:hover{ color: $color_red;}
.gmc_lkB{color:#999;}
.gmc_lkC{
    color:$color_b; &:hover{color: #0cba88;}
}


/*btn Module*/
.gmc_btn{
    display: inline-block;
    text-align: center;
    font-size: 14px;
    color: $color_f;
    font-weight:normal;
    &:hover{
        color:#fff;
    }
}
.gmc_btn_a{ display: inline-block; width: 100px;  text-align: center;   border-right:1px solid rgb(245 , 245 , 245); color: $color_f; font-weight:normal; height: 38px; background-color:$color_g; line-height: 38px; font-size: 16px; &:hover{color:#fff;} 
	.btn_a_arrow{
		@include arrow(bottom, 4px , $color_g); display:block; margin:0 auto;
	}
}
.brandlist_box{
    width: 220px; height: 262px; background:#fff;-webkit-transition: box-shadow 0.5s; -o-transition: box-shadow 0.5s;  transition: box-shadow 0.5s; overflow: hidden;
    &:hover{
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    }
    .gmc_brandlist{
        display: block; width: 220px; height: 262px;  overflow: hidden;
    } 
    div , img , h3 , span {cursor:pointer;}
    .img_box{width: 220px; height: 200px; 
        @include img_center(true);
        span{width: 220px; height: 200px;  @include img_center();}
        img{width:180px; height:180px;}
    }
    .brand_title{ color:#333333; padding-left:20px; width: 180px; display:inline-block; overflow: hidden;  white-space: nowrap; text-overflow: ellipsis; color:#333; margin-bottom: 4px;}
    .brand_other{
        display:inline-block; padding-left: 20px; width: 180px; line-height: 16px;
        .sort{float: left; font-size: 12px; color:#999; width: 80px;}

    }
    .label { margin-bottom: 18px; height: 16px; overflow: hidden; float: right; width: 100px;
        .gmc_element_a { padding: 0 4px;  line-height: 16px;  height: 16px; font-size: 12px; background-color: #599cf4; color: #fff;}
        i{float: right; margin-left: 1px;}
    }
    .inquire_money{
        display: none;  width: 220px; height:38px; background:$color_red; text-align: center; line-height: 38px;  margin-top: 0px; position:relative; z-index:4;  overflow: hidden; 
        &:hover{background-color:$hover_red;}
        i{border:1px solid #fff; display:inline-block; font-size: 12px; color:#fff; width: 88px;  height:20px; line-height: 20px; text-align: center; *margin-top: 9px; cursor: pointer; }

    }
    .box_cloud{background:#fff; width: 70px; height: 20px; position:absolute;  margin-top: -26px; *margin-top:-36px; margin-left: 130px; }
}

.gmc_friendlink{width: 7px; height: 5px; background-position:-96px 0;
    &:hover{background-position:-96px -7px;}
}

.gmc_odds_01{width: 60px; height: 60px; background-position: 0 -32px;}
.gmc_odds_02{width: 60px; height: 60px; background-position: -64px -32px;}
.gmc_odds_03{width: 60px; height: 60px; background-position: -128px -32px;}
.gmc_odds_04{width: 60px; height: 60px; background-position: -192px -32px;}
.ico_square{display:inline-block; width: 4px ; height: 4px; background-color:#ddd;}
.gmc_arrow_top{width: 12px; height: 8px; background-position:-64px 0;}
.gmc_arrow_bottom{width: 12px; height: 8px; background-position:-64px -11px;}
.gmc_nav_arrow{width: 9px; height: 5px; background-position:-79px 0;}
.gmc_recommend{width: 42px; height: 42px; background-position:-256px -33px;}
.gmc_right_empty{width: 16px; height: 16px; background-position:-128px 0;}
.gmc_right_red{width: 16px; height: 16px; background-position:-160px 0;}
.gmc_flash_arrow{width: 5px; height: 9px; background-position:-256px 0;}
.gmc_gangway_right{width: 12px; height: 10px; background-position:-288px 0;}
.gmc_hunt_arrow{width: 15px; height: 15px; background-position:-320px 0 ;}
.gmc_skill{width: 20px; height: 18px; background-position:-192px 0;}
.gmc_serve_help_01{width: 64px; height: 64px; background-position:0 -128px;}
.gmc_serve_help_02{width: 64px; height: 64px; background-position:-64px -128px;}
.gmc_serve_help_03{width: 64px; height: 64px; background-position:-128px -128px;}
.gmc_serve_help_04{width: 64px; height: 64px; background-position:-192px -128px;}
.gmc_serve_help_05{width: 64px; height: 64px; background-position:-256px -128px;}
.gmc_help_01{width: 100px; height: 100px; background-position:0 -192px;}
.gmc_help_02{width: 100px; height: 100px; background-position:-101px -192px;}
.gmc_cry{width: 50px; height: 42px; background-position:-320px -32px;}
.bottom_fixed_btn{width: 96px; height:105px; background-position:-224px -192px;}

.list_btn_a{
    display:block; width: 180px; height: 200px;background-color:$color_f; text-align: center; padding:20px 20px 0; -webkit-transition: box-shadow 0.5s;  -o-transition: box-shadow 0.5s;  transition: box-shadow 0.5s; *position: relative; 
    dl , dd , dt , span {cursor:pointer;}
    .lb_element{
        text-align: center; 
        dt{
            @include img_center( true); height:180px;  *display:inline;
        }
        .img_box{ width: 180px; height: 180px; @include img_center(); *display:inline;
            img{max-width:140px; max-height:140px; *display:inline;    }
        }
        dd{
            *position: absolute; *bottom:0; *left:0;
        }
    }
    .listb_title{margin:0 auto; display:block; background-color:$color_red; color:$color_f; width: 90px; line-height: 20px;text-align: center; font-size: 12px;}
    &:hover{
        box-shadow:0px 0px 15px hsla(0,0,0,0.15);
    }
    .white_revise{width: 66px;  height: 16px; background: #fff; position: absolute; margin-top: -54px; margin-left: 110px; *margin-left: 28px; *margin-top: -16px;}
}


/*pages*/
.gmc_pages{
    margin:20px auto 0; padding-bottom: 40px; display:inline-block; *float: right;
    .gmc_number{
        overflow: hidden; display:inline-block;  float: left;
        li{
            float: left; margin-left: 2px; vertical-align: middle; line-height: 40px;
        }
        a.number{display:block; width: 40px; height: 40px; background:#fff; color:#666666; text-align: center; line-height: 40px;
            &:hover{background-color:$color_red; color:#fff;}
        }
        a.cur{background-color:$color_red; color:#fff;}
    }
    .sum{
        display: inline-block;  vertical-align: top; margin-left: 10px; float: left;
        .pages_btn{
            display: inline-block; width: 60px; line-height: 40px; text-align: center; color:#fff; background-color:$color_red; font-size: 14px; margin-left: 10px; vertical-align: middle; 
            &:hover{background-color:$hover_red}
        }
        input{
            width: 40px; height: 40px; *width:38px; *height:38px; line-height: 40px;  box-sizing:border-box; background-color:#fff; border:1px solid #ccc; margin:0 5px; text-align: center; vertical-align: middle;
        }
        span{
            font-size: 14px; color:#666666; line-height: 40px;
        }
    }
}

/*element*/
.gmc_element_a{padding:0 4px; line-height: 16px; height:16px; *line-height: 18px; font-size: 12px; background-color:#599cf4; color:#fff;}
.gmc_element_b{ padding:0 4px; line-height: 16px; height:16px; *line-height: 18px; font-size: 12px; background-color:$color_red; color:#fff; &:hover{color:#fff;}}
.gmc_element_e{ padding:0 4px; line-height: 16px; height:16px; *line-height: 18px; font-size: 12px; background-color:#3dd1a6; color:#fff; &:hover{color:#fff;}}
.gmc_element_c{border:1px solid #eee; background-color:#fff; font-size: 12px; line-height: 16px; color:#666; &:hover{color:#666;}}
.gmc_shadow{box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);}
.gmc_btn_b{background-color:$color_red; @include btn_box(250px , 40px , 16px) ; 
    &:hover{ background-color:$hover_red;}
}
.gmc_btn_c{background-color:#fff; @include btn_box(248px , 38px , 16px); border:1px solid $color_g; color:$color_g;
            &:hover{color:#fff; background-color:$color_g;}
}
.gmc_btn_d{
    width: 40px; line-height: 42px; background-color:$color_red; border-left:2px solid #e16d54;  font-size: 34px; color:#fff;
}

.gmc_btn_e{
    width: 160px; height:54px; background-color:$color_red; 
    &:hover{
        background-color:#f36347;
    }
    em{display:block; width: 160px; text-align: center;
        &.start{font-size: 16px; line-height: 32px;}
        &.already{font-size: 12px; line-height: 14px; color:#fed4cc;}
    }
    i{font-size: 18px; margin-right: 4px; margin-top: -2px;}
}
.gmc_btn_f{height:24px; line-height: 26px;min-width:48px; color:#67c5ff; border:1px solid #67c5ff; padding:0 10px; border-radius:2px;  background-color:#fff;
    &:hover{color:#2ba2ec; border-color:#2ba2ec;}
}

.spread_logo{background-image:url(../../images/spread_logo.png); width: 100px; height: 100px; display: inline-block;  background-repeat: no-repeat; background-color: transparent;}
.spread_logo_01{background-position:0 0;}
.spread_logo_02{background-position:-120px 0;}
.spread_logo_03{background-position:-230px 0;}
.spread_logo_04{background-position:-330px 0;}
.spread_logo_05{background-position:-430px 0;}
.spread_logo_06{background-position:-530px 0;}



/*brand_ico*/
.icon_45{width: 25px; height: 25px; background: url(../../images/img_icon_45.png) no-repeat; &:hover{background: url(../../images/img_icon_45_hover.png) no-repeat;}}
.icon_45_1{ background-position: 0 0;}
.icon_45_2{ background-position: -25px 0;}
.icon_45_3{ background-position: -50px 0;}
.icon_45_4{ background-position: -75px 0;}
.icon_45_5{ background-position: -100px 0;}
.icon_45_6{ background-position: 0 -25px;}
.icon_45_7{ background-position: -25px -25px;}
.icon_45_8{ background-position: -50px -25px;}
.icon_45_9{ background-position: -75px -25px;}
.icon_45_10{ background-position: -100px -25px;}
.icon_45_11{ background-position: -0 -50px;}
.icon_45_12{ background-position: -25px -50px;}
.icon_45_13{ background-position: -50px -50px;}
.icon_45_14{ background-position: -75px -50px;}
.icon_45_15{ background-position: -100px -50px;}
.icon_45_16{ background-position: -0px -75px;}
.icon_45_17{ background-position: -25px -75px;}
.icon_45_18{ background-position: -50px -75px;}
.icon_45_19{ background-position: -75px -75px;}
.icon_45_20{ background-position: -100px -75px;}
.icon_45_21{ background-position: 0 -100px;}
.icon_45_22{ background-position: -25px -100px;}
.icon_45_23{ background-position: -50px -100px;}
.icon_45_24{ background-position: -75px -100px;}
.icon_45_25{ background-position: -100px -100px;}
.icon_45_26{ background-position: 0 -125px;}
.icon_45_27{ background-position: -25px -125px;}
.icon_45_28{ background-position: -50px -125px;}
.icon_45_29{ background-position: -75px -125px;}
.icon_45_30{ background-position: -100px -125px;}
.icon_45_31{ background-position: 0px -150px;}
.icon_45_32{ background-position: -25px -150px;}
.icon_45_33{ background-position: -50px -150px;}
.icon_45_34{ background-position: -75px -150px;}
.icon_45_35{ background-position: -100px -150px;}
.icon_45_36{ background-position: 0 -175px;}
.icon_45_37{ background-position: -25px -175px;}
.icon_45_38{ background-position: -50px -175px;}
.icon_45_39{ background-position: -75px -175px;}
.icon_45_40{ background-position: -100px -175px;}
.icon_45_41{ background-position: 0 -200px;}
.icon_45_42{ background-position: -25px -200px;}
.icon_45_43{ background-position: -50px -200px;}
.icon_45_44{ background-position: -75px -200px;}
.icon_45_45{ background-position: -100px -200px;}
