/*fontFace*/
@font-face {
    font-family: 'newGbicom';
    src: url('../../fonts/newGbicom.eot');/* IE9*/
    src: url('../../fonts/newGbicom.eot?#iefix') format('embedded-opentype'),  /* IE6-IE8 */
         url('../../fonts/newGbicom.woff') format('woff'),     /* chrome、firefox */
         url('../../fonts/newGbicom.ttf') format('truetype'),  /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
         url('../../fonts/newGbicom.svg#newGbicom') format('svg');     /* iOS 4.1- */
    font-weight: normal;
    font-style: normal;
}
.gmc_ft_icon{
	font-family: 'newGbicom';
  	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
