/*
* @Author: yulong
* @Date:   2016-03-21 09:37:01
* @Last Modified by:   admin
* @Last Modified time: 2016-06-06 14:49:35
*/
.gml_cloud{ display: none; position: fixed; left:0; top:0; width: 100%; height: 100%;  background:#000; opacity:0.6; filter: alpha(opacity=60); z-index:10; }
.gml_fixed_menu{
    position: fixed; right:15px; top:50%; margin-top:-120px; height: 240px; width: 60px;   z-index: 9;
    &>div{
        width: 58px; height: 58px; background:$color_f; border:1px solid #f5f5f5; text-align: center ; cursor:pointer;
        em{line-height: 57px;}
        &:hover{
            a{display:inline-block;}
            em.icon{display:none;}
            .img_ewm{display:inline-block;}
            
        }
    }
    .server , .free_phone , .m_web{border-bottom:none;}
    .back_top{ 
        display: none; margin-top: 10px;
        a{display:inline-block;}
        &:hover{background:#ccc; a{color:#fff;}}
    }
    .server_hover{
        width: 216px; line-height: 58px;  position:absolute; margin-left:-158px; *margin-left:-187px; margin-top: -1px;   display:none;
        .gmc_ft_icon{
            color:#fff; margin-right: 15px;
        }
        span.phone{font-size: 18px; font-family:Verdana; font-weight: bold; color:#fff; font-style:italic;}
    }
    .gmc_ft_icon{color:$color_g; font-size: 36px;}
    .server .gmc_ft_icon{font-size: 50px;}
    a{
        display:none; font-size: 14px; color:$color_f; width: 30px; height: 30px; padding:14px;line-height: 1;
    }
    .server_hover , .m_hover , .phone_hover{background:#3dd1a6;}
    .m_hover{width: 46px; padding:0 6px; height: 58px; line-height: 58px;}
    .img_ewm{position: absolute; margin-top:20px; margin-left: -190px; width: 186px; height: 186px; display:none;
        .ewm_arrow{@include arrow_askew(bottom-right , 10px , #fff); position: absolute; margin-top: -10px; margin-left:176px;display:inline-block; }
        img{width: 186px; height: 186px;  }
    }
    .server:hover{
        .contact{display:none;}
        .server_hover{display:block;}
    }
    
}
.gml_ewm_top , .gml_ewm_bottom , .gml_ewm_content , .gml_ewm_news{
    width: 180px; height: 180px; box-shadow:0 0 15px rgba(0, 0, 0, 0.15); z-index:9;  display:none; background:#fff;
    img{width: 180px; height: 180px;}
    .gmc_arrow_top{position: absolute; margin-top:-6px; margin-left: 15px;}
}
.gml_ewm_bottom{
    position: absolute;  margin-left: 700px; margin-top: -140px; *margin-left:-210px; 
    .gmc_arrow_bottom{position: absolute; margin-left:30px;}
}
.gml_ewm_top{
    margin-left: 120px; margin-top: -5px; position: absolute;
}
.gml_ewm_content{
    position: absolute; margin-left: -70px; *margin-top: 45px;  *margin-left: -210px;
    .gmc_arrow_top{
        margin-left: 140px;
    }
}
.gml_ewm_news{
    position: absolute; margin-left:50px; margin-top: 80px;
}

.gml_nav{
     display: inline-block;  width: 105px; border:1px solid #e4e5e8; background:#fff; z-index:19; box-shadow:3px 3px 5px rgba(229 , 229 , 229 , 0.15); position: absolute; margin-left: 30px; display:none; border-bottom:none;
    a{display:inline-block; width: 105px;text-align: center;  font-size: 14px; border-bottom:1px solid #e4e5e8; color:#999; line-height: 40px;
        &:hover{color:$color_g;} 
    }
    .gmc_nav_arrow{position: absolute; margin-top: -5px; margin-left: 45px; }
}

.gml_buy{
    width:480px; background:#fff; position:fixed; left:50%; top:30%; margin-left:-240px; text-align: center;   z-index:11; display:none;
    .gmc_btn_d{
        position: absolute; margin-left:240px; margin-top: 10px; margin-left: 480px\9;
    }
    .title{ color:#666666; font-size: 16px; border-bottom:1px solid #ddd; text-indent: 20px; line-height: 40px; text-align: left;} 
    .inp_list{display:inline-block;}
    .inp_text{margin-top: 20px; width: 238px; height:38px; line-height: 38px; border:1px solid #ddd; padding-left: 10px; color:#cccccc; *display:block; *margin-left: 238px;  }
    .point{color:#999999; font-size: 12px; margin-top: 20px;}
    .gmc_btn_b{margin-top: 20px;}
    .phone{text-align: center; font-size: 12px; color:#999999; margin:20px 0 30px;}
    .error{width: 248px; line-height: 38px; background:#fffcd8; border:1px solid #ffdb86; color:#666666; margin:auto; margin-top: 10px; text-align: left; display:none;
        i{font-size: 24px; color:#f8af00; margin:0 5px 0 10px;}
    }
}
.gml_assess{
    width:480px; background:#fff; position:fixed; left:50%; top:30%; margin-left:-240px; text-align: center; z-index:11; display:none;
    .gmc_btn_d{
        position: absolute; margin-left:240px; margin-top: 10px; margin-left: 480px\9;
    }
    .title{ color:#666666; font-size: 16px; border-bottom:1px solid #ddd; text-indent: 20px; line-height: 40px; text-align: left;} 
    .inp_list{display:inline-block;}
    .inp_text{margin-top: 20px; width: 238px; height:38px; line-height: 38px; border:1px solid #ddd; padding-left: 10px; color:#cccccc; *display:block; *margin-left: 233px;}
    .point{color:#999999; font-size: 12px; margin-top: 20px;}
    .gmc_btn_b{margin-top: 20px;}
    .phone{text-align: center; font-size: 12px; color:#999999; margin:20px 0 30px;}
    .error{width: 248px; line-height: 38px; background:#fffcd8; border:1px solid #ffdb86; color:#666666; margin:auto; margin-top: 10px; text-align: left; display:none;
        i{font-size: 24px; color:#f8af00; margin:0 5px 0 10px;}
    }
}

.gml_content_more{
    width: 620px; height: 490px; background:#fff; position: absolute; left:50%; top:50%; margin-top: -245px; margin-left: -310px;  display: none; z-index:11;
    .gmc_btn_d{position: absolute; margin-left: 620px; margin-top: 10px; }
    .title{font-size: 16px; font-weight: bold; text-indent: 20px; line-height: 40px; border-bottom:1px solid #ddd;}
    .more_main{overflow: hidden; height:445px; overflow-y:auto; padding-left: 20px;}
    ul{width: 620px; overflow: hidden;}
    li{width: 200px; float: left; margin-top: 18px;  line-height: 1; overflow: hidden;
        a{
            color:#999999; font-size: 12px; display:inline-block; width: 150px; float: left; line-height: 1.5;   &:hover{color:$color_red;}
            &.number{margin-right: 5px; width: 30px;}
        }
    }
}

.gml_mass{
    width: 300px; border:1px solid #ddd; background:#fff;  display: none; z-index:11; margin-left: 20px; *margin-left: -50px;
    .gmc_flash_arrow{
        position: absolute; margin-left:-5px; margin-top: -5px; top:50%;
    }
    dl{padding:10px; overflow: hidden;}
    dt{color:#333333; font-size: 12px; margin:0 0 5px; width: 160px !important;} 
    dd{font-size: 12px; color:#666; line-height: 20px; width: 280px !important;}  
}

.gml_refer , .hunt_box , .stay_info{
    width: 480px; height: 268px; position: fixed; left:50%; top:50%; margin-left:-240px; margin-top: -138px; background:#fff; text-align: center;  display: none; z-index:11;
    .gmc_btn_d{
        position: absolute; margin-left:240px; margin-top: 10px; margin-left: 480px\9;
    }
    h3{ margin-top: 45px; font-size: 18px; color:$color_red; font-weight: 100; }
    .call_you{font-size: 12px; color:#999; margin-top: 25px;}
    .gmc_btn_b{margin-top: 25px;}
    .phone{margin-top: 20px; font-size: 12px; color:#999; 
        a{color:$color_red; &:hover{text-decoration:underline;}}
    }
}


.bottom_fixed_btn{position:fixed; left:-96px; bottom:190px; width: 96px; height:105px;  z-index:10;}
.bottom_fixed{
    width: 100%;  height: 112px; background:url(../../images/bottom_fixed_bg.png); position: fixed; bottom:0; left:0; z-index:22;
    .fixed_main{
        width: 1180px; margin:0 auto; height:139px;
        .gmc_btn{width: 39px; height: 39px; background:#3b3a3b; font-size: 30px; line-height: 39px; text-align: center; float: right;}
        .inp_box{
            width: 420px; height: 74px; padding-top: 38px; background:#3b3a3b; float: right; margin-right: 16px; overflow: hidden;
            .inp_text{ width: 233px; padding-left: 10px; height:42px;  line-height: 43px; font-size: 14px; background:#fff;  float: left; margin-left: 36px; border:none; }
            .form_btn{width: 108px; height: 42px; line-height: 42px;  display: inline-block; float: left; background:#ff7d5f; color:#ffffff; font-size: 16px; text-align: center;}
        }
    }
    .bf_img{margin-top:-27px; float: left}
}

.gml_help_box{
    position: fixed; top:50%; left:50%; width: 480px; margin-top: -240px; margin-left: -240px; background:#fff; display:none; z-index:11;
    .title{ color:#666666; font-size: 16px; border-bottom:1px solid #ddd; text-indent: 20px; line-height: 40px; text-align: left;} 
    .gmc_btn_d{position: absolute; margin-left: 480px; margin-top: 10px; }
    .form_title{
        font-size: 18px; color:#333333; font-weight: 100;  text-align: center; line-height: 1; margin-top: 30px;
        .bold{color:$color_red;}
    }
    .inp_list{
        width: 250px; margin:0 auto;
        .text_txt{
            width: 228px; height:66px; border:1px solid #dddddd; padding:10px; margin-top: 30px; font-size: 16px;
        }
    }
    .form_inp{
        margin-top: 10px;  overflow: hidden;
        .money{position:absolute; color:#333333; font-size: 16px; margin-top: 8px; margin-left: 100px; *margin-left: -24px;}
        .inp_text{
            width: 113px; padding-left: 10px; height:38px; border:1px solid #ddd; border-right:none; float: left; font-size: 16px;
        } 
        .must{border-right:1px solid #ddd; width: 114px; float: right;}
    }
    .form_btn{display:block;  color:#fff; margin:20px auto 0;}
    .phone{font-size: 12px; color:#999999; text-align: center; margin-top:15px; margin-bottom: 50px;}
    .error{width: 248px; line-height: 38px; background:#fffcd8; border:1px solid #ffdb86; color:#666666; margin:auto; margin-top: 10px; text-align: left;  display: none;
        i{font-size: 24px; color:#f8af00; margin:0 5px 0 10px;}
    }
}
