/*
* @Author: admin
* @Date:   2016-03-29 17:28:26
* @Last Modified by:   admin
* @Last Modified time: 2016-04-01 09:59:56
*/
.gm_about_menu{
    a{
        font-size: 16px; color:#999999; width: 178px; line-height: 50px;  border-left:6px solid #dddddd; text-align: center; display: inline-block; margin-bottom: 2px; background:#fff;
        &:hover{
            border-color:$color_g; color:$color_g;
        }
        &.cur{border-color:$color_g; color:$color_g;}
    }

}
