/*
* @Author: admin
* @Date:   2016-03-29 17:38:15
* @Last Modified by:   admin
* @Last Modified time: 2016-06-13 17:15:36
*/

.gm_about{
    padding:30px 40px 50px; *padding-bottom:70px; min-height:500px;  background:#fff; width: 905px; overflow: hidden; margin:0 auto;
}
