/* Sass Document */
.gm_banner{height:382px; overflow:hidden; position:relative;
	&:hover span.gmc_ft_icon{ display:inline-block;}
	.img_banner{ text-align:center; position:relative;  width:100%; height:382px; *text-align:none;
		li{ position:absolute; width:100%; height:382px; overflow:hidden;  background:none no-repeat center top;}
		a{ display:inline-block; width:1180px; height:382px; }
	}
	.btn_banner{ overflow:hidden; position:absolute; left:50%; z-index:2; margin:-36px 0 0 460px; height:6px;
		li{ width:6px; height:6px; border-radius:50%; background-color:$color_f; margin:0 3px; cursor:pointer; float:left; display:inline-block; transition: all 0.5s;
			&:hover{ background-color:$color_red}
			&.cur{ width:16px; border-radius:3px; background-color:$color_red}
		}
	}
	span.gmc_ft_icon{ display:none; position:absolute; z-index:2;  font-size:71px; color:$color_f; cursor:pointer; left:50%; top:50%; margin:-40px 0 0 -300px; 
		&:hover{ color:$color_red;}	
	}
	span.gmc_ft_icon.rt{ margin-left:560px}
}
.gm_banner_menu{  width:280px; height:343px; box-shadow:0 0 10px hsla(0,0%,0%,.12); position:relative; margin:-363px 0 0 -590px; background-color:$color_f; left:50%;
	.title a{ width:139px; display:inline-block; line-height:38px; height:38px; font-size:$size_03; border-left:1px solid #ddd; border-bottom:1px solid #ddd; text-align:center; background:#f5f5f5; 
	 	&.cur{ border-bottom-color:$color_f; background:$color_f; color:$color_red}
		&.mai{ border-left:none; width:140px;}
	} 
	.sort_menu{ padding:17px 20px 5px; zoom:1; position:relative;  height:70px;
		dt{ color:$color_b; margin-bottom:7px;}
		dd a{ width:76px; display:inline-block; margin-bottom:5px; font-size:$size_01;}
		.ft_more{ float:right; margin-top:30px; color:$color_b; font-size:23px;}
	}
	.sort_menu_ft{ cursor:pointer;
		&:hover .ft_more{ color:$color_red;}
	}
	.zuhe_menu{ padding-top:14px; padding-bottom:18px;
		 dd a{ width:58px;
			&.trt{ text-align:right; width:40px;}
		}
		.form_title{
			font-size: 12px; color:#666;  margin-bottom: 15px;
			span{color:$color_red;}
		}
		.form_list{
			overflow: hidden; 
			dt , dd{float: left;}
			.inp_phone{width:169px; padding-left: 10px; height:32px; border:1px solid #ddd; border-right:0;}
			.form_btn{display:block; background:$color_red; color:#fff; text-align: center; line-height: 34px; width:60px; 
				&:hover{background:$hover_red;}
			}
		}
		.error{width: 238px; line-height: 30px; background:#fffcd8; border:1px solid #ffdb86; color:#666666; margin:auto; margin-top: 10px; text-align: left; position: absolute; margin-top: -44px; display:none;
        i{font-size: 24px; color:#f8af00; margin:0 5px 0 10px;}
    }
	}
	.process_menu{ border-top:1px solid #eee; padding:17px 20px 0; overflow:hidden; zoom:1;
		.process_title{ overflow:hidden; zoom:1;  color:$color_b; margin-bottom:12px;
			.more{ float:right; color:$color_d; font-size:$size_01; margin-top:0px; &:hover{color:$color_red;}}
		}
		dl,span{ float:left; font-size:20px;}
		dl{ width:48px; text-align:center;
			dt{ font-size:30px; color:#ff7c5f; margin-bottom:3px; 
				
			}
			dd{ font-size:$size_01;}
			a{color:$color_red;}	
			a.text{color:#666; &:hover{color:$color_red;}}
		}
		span{ display:inline-block; color:$color_d; margin:5px 3px;}
		}
		.sort_menu_sun{display:none; box-shadow:3px 0 10px hsla(0,0%,0%,.12); position:absolute; top:-39px; width:596px; border-left:1px solid #f2f2f2; background-color:$color_f; left:280px;  font-size:$size_01; z-index:20; border-bottom:0; padding:10px 0 9px 20px;
			a{ display:inline-block; width:108px;  height:36px; line-height:36px;
			}
			ul{float: left;}
			.sort_list{float: left; width: 540px;}
			i.gmc_skill{margin-left: 4px; margin-top: -4px;}
			li.team{
				color:$color_red; font-weight:bold; margin-right:18px; height:36px; line-height:36px;
			}
		}
	}
.gm_banner_buy{
	h3{ margin:18px 20px 15px; font-size:12px; color:$color_c; font-weight:normal;
		.num,.price{ color:$color_red;}
		.price:hover{text-decoration:underline; }
	}
	.tab,.brand_se{ margin:0 20px;
		input{ padding: 10px; width:80px; border:none 0; font-size: 14px; background:#fff;}
	}
	.brand_se{ margin-bottom:18px; *margin-bottom: 4px;
		input{ border:1px solid #ddd; border-right:none 0; width:159px; font-size: 14px;}

		.buy{ color:$color_f; background-color:$color_red; height:39px; display:inline-block; line-height:39px; width:60px; text-align:center; *vertical-align: top; *margin-top: 1px;
			&:hover{background-color:$hover_red;}
		}
	}
	.error{
			width: 238px; line-height: 32px; border:1px solid #ffdb86; background-color:#fffcd8; position: absolute;  margin-top: -35px; font-size: 12px; color:#666666;  display: none;
			.gmc_ft_icon{color:#f8af00; margin:0 4px 0 10px; font-size: 24px;}
		}
	.process_menu span{ margin:5px 20px;}
}
