/*
* @Author: admin
* @Date:   2016-03-25 15:21:24
* @Last Modified by:   admin
* @Last Modified time: 2016-04-19 11:11:04
*/

.gm_crumb{
    font-size: 12px; color:#999999; line-height: 44px;
    .icon19{
        margin:0 8px;
    }
    .brand_all{
        float: right; 
        .number{
            color:#ff7c5f;
        }
    }
    a{color:#999; &:hover{color:$color_red;}}
}
.gm_crumb_content{
    margin:0; line-height: 44px; overflow: hidden;
    .share{
        display: inline-block !important; float: right !important;
        a.bds_tsina , a.bds_qzone , a.ccsscb-wx{background:none ;  font-size: 30px; padding-right: 10px; width: 22px!important; height: 46px!important; line-height: 46px!important; color:#cccccc !important; text-indent: 0 !important; margin:0 !important;  }
        .ft_wx:hover{color:#4bc93e !important;; opacity:1 !important;}
        .ft_wb:hover{color:rgba(255, 66 , 66 , 1) !important; opacity:1 !important;}
        .bds_qzone{
            font-size: 42px !important; &:hover{color:#f0d877 !important; opacity:1 !important;}
        }
        .share_title{
            font-size: 12px; color:#999999;
            i{
                font-size: 24px; margin-right: 5px;
            }
        }
    }
}
