/* Sass Document */
 .gm_footer{ border-top:1px solid #ddd; padding-top:40px;
	.bottom_phone{ border-left:1px solid #f0f0f0; padding:0 28px; float:right;
		h2{ color:$color_g; font-size:28px; font-weight:normal; margin-bottom:24px;}
		p{ margin-bottom:18px;}
		a{ border:1px solid $color_g; color:$color_g; width:170px; height:26px; line-height:26px; display:inline-block; text-align:center; 
			.gmc_ft_icon{ font-size:22px; margin-right:5px;}	
			&:hover{ color:$color_f; background-color:$color_g;}
		}
	}
	.bottom_menu{ margin-bottom:40px; overflow: hidden;
		dl{ float:left; margin-right:115px; 
			dt{ font-size:$size_03; font-weight:bold; color:$color_c; margin-bottom:30px;}
			dd{ font-size:12px; color:$color_d; 
				a{ color:$color_d; margin-bottom:10px; display:block;
					&:hover{ color:$color_red}
				}	
			}
		}
		.last{ margin-right:0;
			.gmc_ft_icon{ font-size:34px; margin-right:5px}
			.else{ margin-right:16px; cursor:pointer;
				&:hover{color:$color_red;
					.ft_wx{ color: #30b611;}		
					.ft_wb{ color: #e80011;}		
				}	
			}
			dt{margin-bottom: 23px;}
			p{ margin-bottom:7px;} 
		}	
	}
	.bottom_link{ overflow:hidden; font-size:12px;  border-top:1px solid #ddd; padding-top:15px; margin-bottom:15px;
		.more{ float:right; color:$color_d; 
			&:hover{ color:$color_red;}
			.gmc_ft_icon{ margin-left:5px; font-size: 18px;} 
		}
		dl{ overflow:hidden; zoom:1; height:19px;}
		dt{ color:$color_c; font-size:14px; float:left; margin-right:20px;}
		dd{ float:left; width:1060px;
			a { margin-right:30px; display:inline-block; line-height:1.4em;}
		}
	}
	
} 
/* .gm_footer_main{ background-color:#3f3f3f; padding:21px 0; text-align:center; font-size:$size_01;
		.link{ margin-bottom:30px;
			a{ margin:0 10px;}
		}
		.contact{ border-top:1px solid #f2f3f2; color:#f2f3f2; border-bottom:1px solid #f2f3f2; padding:8px 26px; width:433px; margin:0 auto 30px; }
	} */

.news_footer{display:none;}
@media (max-width:767px) {
	.news_footer{display:block;}
	.footer_box{display:none;}
}
