/*
* @Author: admin
* @Date:   2016-03-31 14:15:24
* @Last Modified by:   admin
* @Last Modified time: 2016-04-28 09:47:09
*/

.gm_content_right{
    width: 250px; padding: 20px; background:#fff;
    .gmc_btn{margin-bottom: 20px;}
    .advisory{
        background:url(../../images/gb_right_content.png) no-repeat center top; width: 250px; text-align: center; position: relative;
        .number  dt , .number  dd{text-align: center; font-size: 14px; line-height: 24px;}
        .number  dt{color:#999999;}
        .number  dd{color:$color_red;}
        dl.number {
            padding:15px 0;
        }
        .fast{
            border-top:1px solid #eee; width: 170px;overflow: hidden; text-align: center; display:inline-block;  padding: 8px 0;
            ul{font-size: 12px; color:#999; overflow: hidden;}
            li{text-align:left; line-height: 20px;}
            dt{float: left; color:$color_red; text-align: center; line-height: 40px; font-size: 40px; width: 30px; }
            dd{overflow: hidden; width: 132px; float: right;}
        }
        .bg_bottom{position: absolute; bottom:0; left:0;}
    }
}
.gm_circuit{
    width: 250px; padding: 20px 20px 0 20px; background:#fff;  margin-top: 20px;
    h3.title{font-size: 16px; color:#333333; font-weight: bold; text-align: left; margin-bottom: 20px;}
    .line{
        height: 250px; width:1px; background:#eee; position: absolute; margin-left:24px; margin-top: 20px; z-index:7;
    }
    ul{position: relative; z-index:9; overflow: hidden;}
    dl{overflow: hidden;}
    li{margin-bottom: 18px;}
    dt{width: 48px; line-height: 48px; border:1px solid #eee; border-radius: 50%; float: left; color:$color_red; font-size: 26px; text-align: center; margin-top: -18px; background:#fff; }
    dd{
        float: right; width: 186px;
        &.title{font-size: 14px; color:#666666; line-height: 18px; margin-bottom: 6px;}
        &.info{color:#999999; line-height: 18px; font-size: 12px;}
    }
}

.gm_serve_left{
    overflow: hidden; margin-bottom: 40px;
    .cur{color:$color_g}
    li.menu_list{
        border-left:6px solid #dddddd; background:#fff;width: 144px;   margin-bottom: 2px; padding-left: 40px;
        &:hover{border-color:$color_g;}
    }
    ul{
        padding-bottom: 10px;
    }
    a:hover{color:$color_g;}
    .sort_list{color:#333333; font-size: 16px; padding:10px 0 10px; display:inline-block;  }
    .child_link{color:#999999; font-size: 14px; line-height: 24px;}
    li.cur{border-color:$color_g;  a.a_cur{color:$color_g;}   }
}
