/*
* @Author: admin
* @Date:   2016-04-12 16:15:45
* @Last Modified by:   admin
* @Last Modified time: 2016-04-28 16:01:33
*/

.gm_safe{
    width: 940px; overflow: hidden; padding-left:240px; background:#fff; padding-bottom: 60px; padding-top:40px; margin:0 auto 40px;
    .version{
        font-size: 12px; color:#fff; width: 34px; height:14px; background:$color_g; font-family:Arial; display:inline-block; text-align: center; line-height: 14px; position: absolute;
        .arrow{
            @include arrow_askew(top-left , 4px , $color_g); position: absolute; margin-top: 14px;
        }
    }   
    .title{font-size: 32px; color:#333; font-weight: 400; line-height: 54px; text-align: center; width: 710px; background:url(../../images/bg_safe.png) no-repeat 26% center; }
    .title_two{font-size: 14px; color:#999;text-align: center; font-weight: 100; margin-top: 16px; line-height: 14px; width: 710px;}
    .search{overflow: hidden; height:54px; margin-top: 38px;}
    .inp_text{width: 526px; line-height: 50px; height:50px; padding-left:10px; font-size: 14px; border:2px solid #eee; border-right:none; vertical-align: top; }
    .detect_list{width: 700px; text-align: left; display:inline-block; margin-top: 30px; *padding-top: 30px; *margin-top: 0;
        .gmc_ft_icon{font-size: 40px; color:#fff;}
    }
    .detect_title{font-size: 14px; color:#666666; font-weight: 100; line-height: 14px;}
    ul{overflow: hidden; }
    li{display:block; margin-top: 30px; width: 100px; float: left; margin-right: 14px; text-align: center; line-height: 72px;  }
    dl{text-align: center; width: 100px; line-height: 72px;}
    dt{width: 72px; height: 72px; margin-left: 14px;}
    dt.safe_ok{background:url(../../images/detect.png) no-repeat  0 0; }
    dt.safe_no{background:url(../../images/detect.png) no-repeat  -73px 0;}
    dt.safe_wait{background:url(../../images/detect.png) no-repeat  -146px 0;}
    dt.safe_doing{background:url(../../images/detect_gif.gif) no-repeat;}
    dd{margin-top: 10px; line-height: 18px; color:#666; text-align: center; font-size: 12px;}
    .err{ 
        width: 538px; height:32px; border:1px solid #ffdc8a; background:#fffcd8; color:#666666; line-height: 32px; position: absolute; text-align: left; font-size: 12px;  display: none;
        .gmc_ft_icon{font-size: 24px; color:#f8af00; margin:0 5px 0 10px; }
    }
}

.gm_safe_slay{
    width: 1140px; padding:20px 20px 40px 20px; background:#fff; overflow: hidden; margin:0 auto 40px;
    .gmc_btn_c{
        width: 132px; height:32px; line-height: 32px; font-size: 14px; float: right;
    }
    .report{
        background:url(../../images/bg_top_detect.png) no-repeat top center; width: 957px; padding-top: 22px;  margin:70px auto 0;
    }
    .report_main{width: 677px; background:url(../../images/bg_center_detect.png); text-align: center; margin:0 auto; overflow: hidden; padding:0 140px;}
    img.title{margin-top: 50px;}
    .title_two{font-size: 16px; color:#999999; font-weight: 100; margin-top: 18px; line-height: 16px;}
    .upshot{color:#666; font-size: 16px; line-height: 1; margin-top: 30px; line-height: 28px; }
    .upshot_err{text-align: left; }
    .number_ok{color:#1bd19c; font-weight: bold;}
    .number_err{color:#f36347; font-weight: bold;}
    .brand_safe{
        overflow: hidden; margin-top: 50px;
        dl{margin-top: 50px; overflow: hidden; }
        dt{border-right:1px solid #eee; float: left; height:200px; width: 270px;}
        dd{float: right; width: 395px; height:200px; overflow: hidden;}
        ul{overflow: hidden; margin-top: 4px; width: 445px;}}
        li{float: left; font-size: 14px; line-height: 20px; margin-bottom: 22px; width: 220px; text-align: left;
        i{color:$color_g; font-size: 26px; margin-right: 10px; margin-top: -4px; line-height: 24px;}
    }
    img.safe_img{margin:0 auto ; }
    
    .safe_btn{
        text-align: center;
        dt{font-size: 14px; margin-top: 20px; color:#999999;}
        dd{margin-top: 10px;}
        .gmc_btn_b{width: 132px; height:38px;}
    }
    .safe_info{
        text-align: left; padding:0 60px; padding-bottom: 50px; padding-top: 35px; background:url(../../images/bg_center_detect.png);
        dt{color:#000; font-size: 14px; line-height: 30px; vertical-align: middle;}
        .bodyguard{font-size:30px; line-height: 30px; color:$color_g; background:url(../../images/bg_safe_small.png) no-repeat 3% center; padding:0 6px 0 40px; display:inline-block; }
        dd{font-size: 12px; color:#666666; margin-top: 10px;}
        span.time{float: right; color:#999999;}
    }
    .safe_box{
        height:auto; overflow: hidden; position: relative; 
        .saferr_img{ position: absolute; top:50%; margin-top:-85px; left:26px;}
        .gmc_ft_icon{font-size:32px; color:#fe8167;}
        li{width: 394px; padding-left: 25px; line-height: 28px; color:#666666; margin-bottom: 10px; background:url(../../images/bg_slay.png) no-repeat left 5px;}
        ul{display:inline-block; width: 420px; float: right; border-left:1px solid #eee; padding-left: 10px; min-height:200px;}
    }
}
.other_no{display:none;}
