/*
* @Author: admin
* @Date:   2016-03-25 15:28:30
* @Last Modified by:   admin
* @Last Modified time: 2016-05-24 09:44:57
*/

.gm_select{
    width: 1180px; margin:0 auto; padding-top: 20px; background-color:#fff; overflow: hidden; font-size: 12px;
    .select_list{
        overflow: hidden; *margin-bottom:20px;
    }
    .select_title , .select_all , .select_main , .select_more{float: left;}
    .select_cable {margin-bottom:0;}
    .select_title{width: 75px; line-height: 22px; text-align: right; font-size: 12px; color:#999; font-weight: 600;}
    .select_all{
        width: 75px; line-height: 22px; text-align: center;
        a{
            width: 44px; line-height: 22px; display:inline-block;  margin-bottom: 20px;   margin-right: 4px;
            &:hover{
                background-color:$color_red; color:#fff;
            }
        }
    }
    .select_sort .select_all a{ *margin:0;}
    .select_main{
        width: 940px;
        li{float: left; margin-right:10px; line-height: 22px; margin-bottom: 20px;}
        a{
            display: inline-block; padding:0 10px; 
            &:hover{
                background-color:$color_red; color:#fff;
            }
        }
    }
    .select_more{
        width: 90px; text-align: center;
        .more{
            color:#999999; font-size: 12px; display:inline-block; width: 50px; line-height: 22px; padding-left:5px;
            .icon21{
                font-size: 20px; margin-top:-2px; margin-left: 5px;
            }
            &:hover{
                 background-color:$color_red; color:#fff;
                .icon21{
                    color:#fff;
                }
            }
        } 
        .check_btn{
            width: 53px; line-height: 20px;  border:1px solid #eaeaea; background-color:#fff; color:#999999; display:inline-block;
            i{font-size: 18px; margin-top: 2px;}
            &:hover{
                border-color:$color_red; color:$color_red;
            }
        }
        .type_more{
            position: absolute; border:1px solid #ff7c5f; box-shadow:3px 0 7px rgba(0,0,0,0.06); width: 1018px;overflow: hidden; background-color:#fff; margin-left: -1002px; *margin-left: -1074px; margin-top:-24px; *margin-top: 0px;  z-index:9; padding:5px 0; display:none;
            dl{overflow: hidden;}
            dt , dd{float: left; line-height: 22px; margin:7px 0 7px;}
            dt{color:#ff5f1b;width: 50px; text-align: right;  margin-right: 10px;}
            a{color:#666;display: inline-block; width: 95px; text-align: left; line-height: 22px; padding-left: 10px;
                &:hover{
                    background-color:$color_red; color:#fff;
                }
             }
        }
    }
    .brand_box{
        li{margin-right:10px; margin-bottom:10px; height:22px;  }
        .check{background-color:#f9f9f9;}
        a{line-height: 22px; height:22px; text-align: left; width: 126px; overflow: hidden; text-overflow:ellipsis;}
        .ckeck_box{
            width: 100%;  text-align: center; margin-bottom:0px;  display: none; 
            a{
                 width: 34px; line-height: 22px; color:#fff; display:inline-block; text-align: center;
                 &.btn_ok{
                    margin-right: 20px; background-color:$color_red;
                    &:hover{
                        background-color:$hover_red;
                    }
                 }
                 &.btn_no{
                    background-color:#ccc;
                    &:hover{
                        background-color:#c0c0c0;
                    }
                 }
            }
        }
    }
    .cur{
         background-color:$color_red; color:#fff !important; 
         i{
            color:#fff;
         }
    }
    .brand_type a{
        width: 86px; text-align: left; 
    }
    .select_apt{
        display: none;
    }

}
.gm_select_two{
    margin: 20px auto 0; width: 1180px; 
    .select_box{ float: left;  height: 32px; margin-right: 8px; }
    .select_list{border:1px solid #ccc; border-top:none; display:none; position:relative; z-index:10;}
    .select_list a{
        width: 94px; line-height: 30px; background-color:#fff; display:inline-block; font-size: 14px; padding-left: 10px; 
        .icon21{
            font-size: 20px; margin-top:-6px;margin-left:15px;
        }
        &:hover{
            background-color:$color_red; color:#fff;
        }
        &.top{border-bottom:1px solid #ccc; }
    }
    a.cur{
        color:#ff7c5f;
    }
    .top{width: 94px; line-height: 30px; background-color:#fff; display:inline-block; font-size: 14px; padding-left: 10px; border:1px solid #ddd; position: relative;
        .icon21{
                font-size: 20px;  position: absolute; right:10px; *margin-top:-3px;
            }
    }
    .select_box{
        .check{
            line-height: 32px; margin-left: 20px;
        }
        .gmc_right_red , .gmc_right_empty{
            margin-right: 5px;
        }
    }
}

.gm_brand_list{
    margin: 20px auto 0; width: 1180px; 
    ul{
        width: 1200px; 
    }
    li{
        margin:0 20px 20px 0; float: left;
    }
    
}

.gms_hunt{
        width: 220px; height:262px; background:#ff7d5f; overflow: hidden;
        .title{ 
            font-size: 12px; color:#fff; overflow: hidden; width: 180px; height:12px; line-height: 12px; font-weight: 100; margin:20px auto 0;
            .line{float: left; width: 10px; margin-top: 4px;
                li{width: 10px; height:1px; background-color:#fff; margin-bottom: 2px; }    
            }
            .text{float: left; padding:0 8px;  }
        }
        .inp_list{
            width: 180px; margin:0 auto;
            textarea{width: 170px; height: 50px; padding:4px 5px; border:none; margin-top: 16px;}
            .inp_text{width: 170px; padding-left: 10px; height:36px; line-height: 36px; border:none; margin-top: 6px;  }
            .money{position: absolute; color:#333333; font-size: 12px; margin-top:16px; margin-left: 160px;}
            .inp_must{margin-top: 10px;}
        }
        .inp_btn{display:block; width: 180px; margin:10px auto 0 ;   line-height: 32px; text-align: center; color:#fff; font-size: 14px; background: #ffb14c url(../../images/img_fingerprint.png) no-repeat bottom right;
            &:hover{background-color:#febe6c;}
        }
    }
